Source: lsucpd
Section: admin
Priority: optional
Maintainer: Matt Taggart <taggart@debian.org>
Build-Depends: cdbs (>= 0.4.15), debhelper (>= 4.0.0), autotools-dev
Standards-Version: 3.6.2.1

Package: lsucpd
Architecture: any
Depends: ${shlibs:Depends}
Description: examine Linux sysfs pseudo file system (e.g. under /sys )
 for information about USB-C Power Delivery.
