Source: lsucpd
Section: admin
Priority: optional
Maintainer: Matt Taggart <taggart@debian.org>
Build-Depends: debhelper (>= 10.0), autoconf, automake
Standards-Version: 4.7.0
Rules-Requires-Root: no

Package: lsucpd
Architecture: any
Depends: ${shlibs:Depends}
Description: examine Linux sysfs pseudo file system (e.g. under /sys )
 for information about USB-C Power Delivery.
